@import url("https://fonts.googleapis.com/css2");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

header{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    padding: 15px 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    min-height: 100vh;
    background-color: #f4f0e8;
    overflow: hidden;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo-left-nav {
    display: flex;
}

nav.navbar{
    display: flex;
    justify-content: space-between;

}

.navbar h2{
    display: flex;
}

.navbar div a{
   text-decoration: none;
   color: black;
} 

.left-nav, .right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.left-nav a, .right-nav a{
    margin-left: 40px;
    opacity: 60%;
}

.left-nav a:hover, .right-nav a:hover{
    opacity: 100%;
}

/* @media (max-width:600px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .left-nav a, .right-nav a{
        margin-left: 25px;
        opacity: 60%;
} */


.center{
    background-color: #F8FAFC;
    border: 1.5px solid #CDCFD1;   
    border-radius: 4px; 
}

.caption{
    font-weight:55 ;
    font-size: 11px;
}

.login_pass{
    display: flex;
    justify-content: center;
    padding-left: 53px;
}

.login_pass input{
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #0D6EFD;
    color: rgb(234, 234, 234);
    border-radius: 5px;
    border: none;
}

.login_pass a{
    color: #007AFF;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.form-content{
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 12px;
    padding-top: 12px;

}

.txt_field1{
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    /* white-space: nowrap; */
}

.txt_field2{
    padding-bottom: 10px;
    display: flex;
    justify-content: flex-end;
}

.txt_field1, .txt_field2{
    align-items: center; 
    /* padding-left: 40px; */
    /* margin: 0; */
}

.txt_field2 label.caption{

}

input:focus{
    outline: none;
}

.login-text{
    display: flex;
    justify-items: flex-start;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid gainsboro ;
    background-color: #F1F3F5;
}

.input_box input{
    width: 200px;
}

.box{
    margin-left: 15px;
    color: gainsboro;
    border: 1px solid gainsboro ;
    border-radius: 3px;
}

.check_box label.caption{
    display: flex;
    align-items: center;

}

.check_box input{
    border: 1px solid gainsboro;
    margin: 0;
}


.check_box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 10px;
    margin-left: 80px;
    margin-right: 100px;
}

@media (max-width:600px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .left-nav a, .right-nav a{
        margin-left: 25px;
        opacity: 60%;
}