@import url("https://fonts.googleapis.com/css2");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}

body{
    min-height: 100vh;
    background-color: #f4f0e8;
}

header{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100% ;
    padding: 15px 100px;
}

.logo-left-nav {
    display: flex;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .navbar.left-nav, .navbar.right-nav{
    display: flex;
    justify-content: space-between;
} */

.navbar h2{
    display: flex;
}

.navbar div a{
   text-decoration: none;
   color: black;
} 

.left-nav, .right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav .left-nav, nav .right-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.left-nav a, .right-nav a{
    margin-left: 40px;
    opacity: 60%;
}

.left-nav a:hover, .right-nav a:hover{
    opacity: 100%;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar{
    background-color: black;
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    /* -webkit-transition: all 0.3 ease-in-out; */
}

/* .open-menu, .close-menu{
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 1.5rem;
} */

.open-menu{
    top: 50%;
    right: 2-px;
    transform: translateY(-50%);
}

@media (max-width:600px) {
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .left-nav a, .right-nav a{
        margin-left: 25px;
        opacity: 60%;
}


